@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }
  .dark {
    --background: 31 41 55;
    --foreground: 249 250 251;
  }
}

@layer utilities {
  .drag {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }
}
