@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }
  .dark {
    --background: 31 41 55;
    --foreground: 249 250 251;
  }
}
